<!DOCTYPE html>
<html>
<head>
  <title> Welcome! </title>
</head>
<body>
  <p>{{ operation_with_survey }}</p>
  <p>{{ first_name }}</p>
  <p>{{ last_name }}</p>
  <p>{{ email }}</p>
  <p>{{ age }}</p>
</body>
</html>